# Created by venv; see https://docs.python.org/3/library/venv.html
# Entorno virtual de Python
venv/
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de IDE
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp

# Logs
*.log

# Archivos de base de datos (si usas alguna)
*.db
*.sqlite3